libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.cpp
libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.h
libraries/Adafruit_Unified_Sensor/library.properties
libraries/Adafruit_Unified_Sensor/LICENSE.txt
libraries/Adafruit_Unified_Sensor/README.md
libraries/Adafruit_Unified_Sensor/examples/sensortest/sensortest.ino
libraries/Blynk/keywords.txt
libraries/Blynk/library.json
libraries/Blynk/library.properties
libraries/Blynk/LICENSE
libraries/Blynk/Makefile
libraries/Blynk/README.md
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/BlynkEdgent.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/BlynkState.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/ConfigMode.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/ConfigStore.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/Console.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/Edgent_ESP32.ino
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/Indicator.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/OTA.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/ResetButton.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP32/Settings.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/BlynkEdgent.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/BlynkState.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/ConfigMode.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/ConfigStore.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/Console.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/Edgent_ESP8266.ino
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/Indicator.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/OTA.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/ResetButton.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_ESP8266/Settings.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/BlynkEdgent.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/BlynkState.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/ConfigMode.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/ConfigStore.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/Console.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/Edgent_MKR1000.ino
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/Indicator.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/OTA.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/ResetButton.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1000/Settings.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/BlynkEdgent.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/BlynkState.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/ConfigMode.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/ConfigStore.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/Console.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/Edgent_MKR1010.ino
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/Indicator.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/OTA.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/ResetButton.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_MKR1010/Settings.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/BlynkEdgent.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/BlynkState.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/ConfigMode.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/ConfigStore.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/Console.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/Edgent_Wio_Terminal.ino
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/Indicator.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/OTA.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/ResetButton.h
libraries/Blynk/examples/Blynk.Edgent/Edgent_Wio_Terminal/Settings.h
libraries/Blynk/examples/Boards_ArduinoClient/Arduino_Ethernet/Arduino_Ethernet.ino
libraries/Blynk/examples/Boards_ArduinoClient/Arduino_MKR1400_GSM_ETH/Arduino_MKR1400_GSM_ETH.ino
libraries/Blynk/examples/Boards_ArduinoClient/Arduino_MKR1400_GSM_ETH_SSL/Arduino_MKR1400_GSM_ETH_SSL.ino
libraries/Blynk/examples/Boards_ArduinoClient/ESP8266_ESP32/ESP8266_ESP32.ino
libraries/Blynk/examples/Boards_Ethernet/Arduino_Ethernet/Arduino_Ethernet.ino
libraries/Blynk/examples/Boards_Ethernet/Arduino_Ethernet_Manual/Arduino_Ethernet_Manual.ino
libraries/Blynk/examples/Boards_Ethernet/Arduino_MKR_ETH/Arduino_MKR_ETH.ino
libraries/Blynk/examples/Boards_Ethernet/Arduino_MKR_ETH_SSL/Arduino_MKR_ETH_SSL.ino
libraries/Blynk/examples/Boards_Ethernet/ENC28J60/ENC28J60.ino
libraries/Blynk/examples/Boards_GSM/Arduino_MKRGSM/Arduino_MKRGSM.ino
libraries/Blynk/examples/Boards_GSM/Arduino_MKRNB/Arduino_MKRNB.ino
libraries/Blynk/examples/Boards_GSM/TinyGSM_MKR1400/TinyGSM_MKR1400.ino
libraries/Blynk/examples/Boards_GSM/TinyGSM_SIM800_SIM900/TinyGSM_SIM800_SIM900.ino
libraries/Blynk/examples/Boards_WiFi/Adafruit_Feather_M0_WiFi/Adafruit_Feather_M0_WiFi.ino
libraries/Blynk/examples/Boards_WiFi/Arduino_MKR1000/Arduino_MKR1000.ino
libraries/Blynk/examples/Boards_WiFi/Arduino_MKR1010/Arduino_MKR1010.ino
libraries/Blynk/examples/Boards_WiFi/Arduino_WiFi_Shield/Arduino_WiFi_Shield.ino
libraries/Blynk/examples/Boards_WiFi/Arduino_WiFi_Shield_101/Arduino_WiFi_Shield_101.ino
libraries/Blynk/examples/Boards_WiFi/Arduino_Yun/Arduino_Yun.ino
libraries/Blynk/examples/Boards_WiFi/Arduino_org_UNO_WiFi/Arduino_org_UNO_WiFi.ino
libraries/Blynk/examples/Boards_WiFi/ESP32_WiFi/ESP32_WiFi.ino
libraries/Blynk/examples/Boards_WiFi/ESP32_WiFi_SSL/ESP32_WiFi_SSL.ino
libraries/Blynk/examples/Boards_WiFi/ESP8266_Shield/ESP8266_Shield.ino
libraries/Blynk/examples/Boards_WiFi/ESP8266_Standalone/ESP8266_Standalone.ino
libraries/Blynk/examples/Boards_WiFi/ESP8266_Standalone_Manual_IP/ESP8266_Standalone_Manual_IP.ino
libraries/Blynk/examples/Boards_WiFi/ESP8266_Standalone_SSL/ESP8266_Standalone_SSL.ino
libraries/Blynk/examples/Boards_WiFi/Fishino/Fishino.ino
libraries/Blynk/examples/Boards_WiFi/LinkItONE/LinkItONE.ino
libraries/Blynk/examples/Boards_WiFi/RN_XV_WiFly/RN_XV_WiFly.ino
libraries/Blynk/examples/Boards_WiFi/RedBear_Duo_WiFi/RedBear_Duo_WiFi.ino
libraries/Blynk/examples/Boards_WiFi/Sparkfun_Blynk_Board/Sparkfun_Blynk_Board.ino
libraries/Blynk/examples/Boards_WiFi/TheAirBoard_WiFly/TheAirBoard_WiFly.ino
libraries/Blynk/examples/Boards_WiFi/TinyDuino_WiFi/TinyDuino_WiFi.ino
libraries/Blynk/examples/Boards_WiFi/WildFire_V3/WildFire_V3.ino
libraries/Blynk/examples/Boards_WiFi/WildFire_V4/WildFire_V4.ino
libraries/Blynk/examples/Boards_WiFi/Wio_Terminal/Wio_Terminal.ino
libraries/Blynk/examples/Boards_WiFi/WizFi250/WizFi250.ino
libraries/Blynk/examples/Boards_WiFi/WizFi310/WizFi310.ino
libraries/Blynk/examples/Boards_With_HTTP_API/Arduino_Ethernet/Arduino_Ethernet.ino
libraries/Blynk/examples/Boards_With_HTTP_API/Arduino_GSM/Arduino_GSM.ino
libraries/Blynk/examples/Boards_With_HTTP_API/ESP8266_ESP32/ESP8266_ESP32.ino
libraries/Blynk/examples/Boards_With_HTTP_API/SIM800_SIM900/SIM800_SIM900.ino
libraries/Blynk/examples/GettingStarted/BlynkBlink/BlynkBlink.ino
libraries/Blynk/examples/GettingStarted/GetData/GetData.ino
libraries/Blynk/examples/GettingStarted/PushData/PushData.ino
libraries/Blynk/examples/GettingStarted/Servo/Servo.ino
libraries/Blynk/examples/GettingStarted/VirtualPinRead/VirtualPinRead.ino
libraries/Blynk/examples/GettingStarted/VirtualPinWrite/VirtualPinWrite.ino
libraries/Blynk/examples/More/DHT11/DHT11.ino
libraries/Blynk/examples/More/FormatString/FormatString.ino
libraries/Blynk/examples/More/HandleDisconnect/HandleDisconnect.ino
libraries/Blynk/examples/More/NeoPixel/NeoPixel.ino
libraries/Blynk/examples/More/PrintAllVirtual/PrintAllVirtual.ino
libraries/Blynk/examples/More/RTC/RTC.ino
libraries/Blynk/examples/More/RTC_Advanced/RTC_Advanced.ino
libraries/Blynk/examples/More/ServerAsDataStorage/ServerAsDataStorage_MultiValue/ServerAsDataStorage_MultiValue.ino
libraries/Blynk/examples/More/ServerAsDataStorage/ServerAsDataStorage_SingleValue/ServerAsDataStorage_SingleValue.ino
libraries/Blynk/examples/More/SetProperty/SetProperty_MultiValue/SetProperty_MultiValue.ino
libraries/Blynk/examples/More/SetProperty/SetProperty_SingleValue/SetProperty_SingleValue.ino
libraries/Blynk/examples/More/Stroboscope/Stroboscope.ino
libraries/Blynk/examples/More/Sync/ButtonInterrupt/ButtonInterrupt.ino
libraries/Blynk/examples/More/Sync/ButtonPoll/ButtonPoll.ino
libraries/Blynk/examples/More/Sync/HardwareSyncStateFromApp/HardwareSyncStateFromApp.ino
libraries/Blynk/examples/More/Sync/SyncPhysicalButton/SyncPhysicalButton.ino
libraries/Blynk/examples/More/TimeAndLocation/TimeAndLocation.ino
libraries/Blynk/examples/Widgets/Joystick/Joystick.ino
libraries/Blynk/examples/Widgets/LCD/LCD_AdvancedMode/LCD_AdvancedMode.ino
libraries/Blynk/examples/Widgets/LCD/LCD_SimpleMode/LCD_SimpleMode.ino
libraries/Blynk/examples/Widgets/LED/LED_Blink/LED_Blink.ino
libraries/Blynk/examples/Widgets/LED/LED_Color/LED_Color.ino
libraries/Blynk/examples/Widgets/LED/LED_Fade/LED_Fade.ino
libraries/Blynk/examples/Widgets/LED/LED_StatusOfButton/LED_StatusOfButton.ino
libraries/Blynk/examples/Widgets/Map/Map.ino
libraries/Blynk/examples/Widgets/Menu/Menu.ino
libraries/Blynk/examples/Widgets/MusicPlayer/MusicPlayer.ino
libraries/Blynk/examples/Widgets/Terminal/Terminal.ino
libraries/Blynk/examples/Widgets/TimeInput/AdvancedTimeInput/AdvancedTimeInput.ino
libraries/Blynk/examples/Widgets/TimeInput/SimpleTimeInput/SimpleTimeInput.ino
libraries/Blynk/examples/Widgets/TimeInput/UpdateTimeInputState/UpdateTimeInputState.ino
libraries/Blynk/extras/all-boards.json
libraries/Blynk/extras/BLE.json
libraries/Blynk/extras/build-boards.py
libraries/Blynk/extras/build-examples.py
libraries/Blynk/extras/doxygen.config
libraries/Blynk/extras/formatter.conf
libraries/Blynk/extras/gcc-predefined.py
libraries/Blynk/extras/gen-qr.py
libraries/Blynk/extras/gen-states.py
libraries/Blynk/extras/logo.txt
libraries/Blynk/extras/travis-generate.py
libraries/Blynk/extras/docs/README.md
libraries/Blynk/extras/ide-tools/BlynkExampleBuilder.java
libraries/Blynk/extras/ide-tools/BlynkUpdater.java
libraries/Blynk/extras/ide-tools/BlynkUsbScript.java
libraries/Blynk/extras/ide-tools/build.sh
libraries/Blynk/extras/ide-tools/BlynkExampleBuilder/tool/BlynkExampleBuilder.jar
libraries/Blynk/linux/BlynkApiLinux.h
libraries/Blynk/linux/BlynkApiWiringPi.h
libraries/Blynk/linux/BlynkOptionsParser.h
libraries/Blynk/linux/BlynkSocket.h
libraries/Blynk/linux/build.sh
libraries/Blynk/linux/main.cpp
libraries/Blynk/linux/Makefile
libraries/Blynk/linux/README.md
libraries/Blynk/scripts/blynk_ctrl.py
libraries/Blynk/scripts/blynk-ser.bat
libraries/Blynk/scripts/blynk-ser.sh
libraries/Blynk/scripts/com2tcp.bin
libraries/Blynk/scripts/README.md
libraries/Blynk/scripts/certs/server.crt
libraries/Blynk/src/Blynk.h
libraries/Blynk/src/BlynkApiArduino.h
libraries/Blynk/src/BlynkApiMbed.h
libraries/Blynk/src/BlynkApiParticle.h
libraries/Blynk/src/BlynkMultiClient.h
libraries/Blynk/src/BlynkSimpleArduinoNanoBLE.h
libraries/Blynk/src/BlynkSimpleBLEPeripheral.h
libraries/Blynk/src/BlynkSimpleCC3000.h
libraries/Blynk/src/BlynkSimpleCurieBLE.h
libraries/Blynk/src/BlynkSimpleEnergiaEthernet.h
libraries/Blynk/src/BlynkSimpleEnergiaWiFi.h
libraries/Blynk/src/BlynkSimpleEsp32_BLE.h
libraries/Blynk/src/BlynkSimpleEsp32_BT.h
libraries/Blynk/src/BlynkSimpleEsp32_NimBLE.h
libraries/Blynk/src/BlynkSimpleEsp32_SSL.h
libraries/Blynk/src/BlynkSimpleEsp32.h
libraries/Blynk/src/BlynkSimpleEsp8266_SSL.h
libraries/Blynk/src/BlynkSimpleEsp8266.h
libraries/Blynk/src/BlynkSimpleEthernet.h
libraries/Blynk/src/BlynkSimpleEthernetENC.h
libraries/Blynk/src/BlynkSimpleEthernetSSL.h
libraries/Blynk/src/BlynkSimpleFishino.h
libraries/Blynk/src/BlynkSimpleIntelEdisonWiFi.h
libraries/Blynk/src/BlynkSimpleLinkItONE.h
libraries/Blynk/src/BlynkSimpleMKR1000.h
libraries/Blynk/src/BlynkSimpleMKRGSM.h
libraries/Blynk/src/BlynkSimpleMKRNB.h
libraries/Blynk/src/BlynkSimpleParticle.h
libraries/Blynk/src/BlynkSimpleParticleSSL.h
libraries/Blynk/src/BlynkSimpleRedBear_Duo_BLE.h
libraries/Blynk/src/BlynkSimpleRedBear_Duo.h
libraries/Blynk/src/BlynkSimpleRedBearLab_BLE_Nano.h
libraries/Blynk/src/BlynkSimpleRFduinoBLE.h
libraries/Blynk/src/BlynkSimpleSerialBLE.h
libraries/Blynk/src/BlynkSimpleShieldEsp8266.h
libraries/Blynk/src/BlynkSimpleSimbleeBLE.h
libraries/Blynk/src/BlynkSimpleStream.h
libraries/Blynk/src/BlynkSimpleTinyDuino.h
libraries/Blynk/src/BlynkSimpleTinyGSM.h
libraries/Blynk/src/BlynkSimpleUIPEthernet.h
libraries/Blynk/src/BlynkSimpleWifi.h
libraries/Blynk/src/BlynkSimpleWiFiLink.h
libraries/Blynk/src/BlynkSimpleWiFiNINA.h
libraries/Blynk/src/BlynkSimpleWiFiShield101_SSL.h
libraries/Blynk/src/BlynkSimpleWiFiShield101.h
libraries/Blynk/src/BlynkSimpleWiFly.h
libraries/Blynk/src/BlynkSimpleWildFire.h
libraries/Blynk/src/BlynkSimpleWioTerminal_BLE.h
libraries/Blynk/src/BlynkSimpleWioTerminal_SSL.h
libraries/Blynk/src/BlynkSimpleWioTerminal.h
libraries/Blynk/src/BlynkSimpleWizFi250.h
libraries/Blynk/src/BlynkSimpleWizFi310.h
libraries/Blynk/src/BlynkSimpleYun.h
libraries/Blynk/src/BlynkWidgets.h
libraries/Blynk/src/WidgetLCD.h
libraries/Blynk/src/WidgetLED.h
libraries/Blynk/src/WidgetMap.h
libraries/Blynk/src/WidgetRTC.h
libraries/Blynk/src/WidgetTerminal.h
libraries/Blynk/src/WidgetTimeInput.h
libraries/Blynk/src/Adapters/BlynkArduinoClient.h
libraries/Blynk/src/Adapters/BlynkArduinoGSM.h
libraries/Blynk/src/Adapters/BlynkArduinoNB.h
libraries/Blynk/src/Adapters/BlynkBLEPeripheralSerial.h
libraries/Blynk/src/Adapters/BlynkCC3000.h
libraries/Blynk/src/Adapters/BlynkEthernet.h
libraries/Blynk/src/Adapters/BlynkGsmClient.h
libraries/Blynk/src/Adapters/BlynkParticle.h
libraries/Blynk/src/Adapters/BlynkParticleBearSSL.h
libraries/Blynk/src/Adapters/BlynkSerial.h
libraries/Blynk/src/Adapters/BlynkWiFiCommon.h
libraries/Blynk/src/Adapters/BlynkWiFly.h
libraries/Blynk/src/Adapters/BlynkWildFire.h
libraries/Blynk/src/Adapters/BlynkWizFi250.h
libraries/Blynk/src/Blynk/BlynkApi.h
libraries/Blynk/src/Blynk/BlynkConfig.h
libraries/Blynk/src/Blynk/BlynkConsole.h
libraries/Blynk/src/Blynk/BlynkDateTime.h
libraries/Blynk/src/Blynk/BlynkDebug.h
libraries/Blynk/src/Blynk/BlynkDetectDevice.h
libraries/Blynk/src/Blynk/BlynkEveryN.h
libraries/Blynk/src/Blynk/BlynkHandlers.h
libraries/Blynk/src/Blynk/BlynkParam.h
libraries/Blynk/src/Blynk/BlynkProtocol.h
libraries/Blynk/src/Blynk/BlynkProtocolDefs.h
libraries/Blynk/src/Blynk/BlynkTemplates.h
libraries/Blynk/src/Blynk/BlynkTimer.h
libraries/Blynk/src/Blynk/BlynkUtility.h
libraries/Blynk/src/Blynk/BlynkWidgetBase.h
libraries/Blynk/src/certs/blynkcloud_pem.h
libraries/Blynk/src/certs/letsencrypt_pem.h
libraries/Blynk/src/utility/BlynkDateTime.h
libraries/Blynk/src/utility/BlynkDebug.cpp
libraries/Blynk/src/utility/BlynkFifo.h
libraries/Blynk/src/utility/BlynkHandlers.cpp
libraries/Blynk/src/utility/BlynkStreamMulti.h
libraries/Blynk/src/utility/BlynkStreamNull.h
libraries/Blynk/src/utility/BlynkTimer.cpp
libraries/Blynk/src/utility/BlynkUtility.h
libraries/Blynk/src/utility/utility.cpp
libraries/Blynk/tests/loopback.py
libraries/Blynk/tests/pseudo-library.py
libraries/Blynk/tests/pseudo-server-ar-mt.py
libraries/Blynk/tests/pseudo-server-ar-select.py
libraries/Blynk/tests/pseudo-server-dw-mt.py
libraries/Blynk/tests/BlynkBuildTest/BlynkBuildTest.ino
libraries/Blynk/tests/BlynkFootprintTest/BlynkFootprintTest.ino
libraries/Blynk/tests/GenerateJSON/GenerateJSON.ino
libraries/Blynk/tests/SerialXconnect/SerialXconnect.ino
libraries/DHT_sensor_library/code-of-conduct.md
libraries/DHT_sensor_library/CONTRIBUTING.md
libraries/DHT_sensor_library/DHT_U.cpp
libraries/DHT_sensor_library/DHT_U.h
libraries/DHT_sensor_library/DHT.cpp
libraries/DHT_sensor_library/DHT.h
libraries/DHT_sensor_library/keywords.txt
libraries/DHT_sensor_library/library.properties
libraries/DHT_sensor_library/license.txt
libraries/DHT_sensor_library/README.md
libraries/DHT_sensor_library/examples/DHT_Unified_Sensor/DHT_Unified_Sensor.ino
libraries/DHT_sensor_library/examples/DHTtester/DHTtester.ino
libraries/MQ135/keywords.txt
libraries/MQ135/library.properties
libraries/MQ135/LICENSE
libraries/MQ135/MQ135.cpp
libraries/MQ135/MQ135.h
libraries/MQ135/README.md
libraries/MQ135/examples/MQ135/MQ135.ino
libraries/MQ135/examples/MQ135_DHTxx/MQ135_DHTxx.ino
archive/sketch_mar12a/sketch_mar12a.ino
archive/sketch_mar12a/.idea/.gitignore
archive/sketch_mar12a/.idea/modules.xml
archive/sketch_mar12a/.idea/sketch_mar12a.iml
